<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="opened" mode="side" class="sidenav">
    <div class="sidenav-header">
      <div class="logo"></div>
      <h4 class="blue-head">UiUxOtor</h4>
      <h4 class="black-head">ERP System</h4>
    </div>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menuItems"
        (click)="navigateToComp(item)"
        [ngClass]="{ active: selectedItem === item.label }"
      >
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <span matLine>{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
